UI/stylesheets/*.scss
UI/stylesheets/*.css.map
FULLCONNECTION/stylesheets/*.scss
FULLCONNECTION/stylesheets/*.css.map
FULLCONNECTION/javascripts/script.js
FULLCONNECTION/javascripts/*.js.map
node_modules
