main {
  background-image: url("../images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

.grid-container > div {
  margin: auto;
}

#add {
  margin-top: 60px;
}
#add .cancel-div {
  padding-right: 0;
}
#add .form-cover {
  background: rgba(107, 101, 101, 0.3);
  margin: auto;
}
#add form .field {
  padding: 10px;
}
#add form button {
  background-color: #052F60;
  color: white;
  width: 100%;
}
#add form button:hover {
  background-color: #0d529d;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
@media (min-width: 600px) and (max-width: 900px) {
  #add [class*='col-'] {
    padding-right: 0;
  }
}
