.grid-container > div {
  margin: auto;
}

#add {
  margin-top: 60px;
}
#add form .field {
  padding: 10px;
}
#add form button {
  background-color: #052F60;
  color: white;
}
#add form button:hover {
  background-color: #0d529d;
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
