main {
  background-image: url("../images/2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}

#edit-profile {
  padding-top: 20px;
}
#edit-profile h3 {
  margin-bottom: 0;
  padding-top: 10px;
}
#edit-profile fieldset {
  border: none;
}
#edit-profile .form-cover {
  background: rgba(107, 101, 101, 0.3);
  margin: auto;
}
#edit-profile .form-cover .field {
  padding: 10px;
  border-radius: 10px;
}
#edit-profile .form-cover .field:last-of-type {
  background: none;
  padding: 0px;
}
#edit-profile .form-cover .field button:hover {
  -webkit-transition: 1s;
  transition: 1s;
}
#edit-profile [class*='col-'] {
  margin: auto;
}
