main {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat-x: no-repeat;
  background-repeat-y: no-repeat;
}
main h2 {
  margin-top: 0px;
  padding-top: 20px;
}

#forgot_password {
  padding-top: 30px;
}
#forgot_password .form-cover {
  background: rgba(107, 101, 101, 0.3);
  width: 61%;
  margin: auto;
}
#forgot_password .blue-forms {
  width: 50%;
  margin: auto;
}
#forgot_password .blue-forms .field .control-form {
  font-size: 1em;
}
#forgot_password .blue-forms .field .control-form, #forgot_password .blue-forms .field button {
  width: 100%;
}
#forgot_password .blue-forms .field a {
  margin-right: 0px;
}

@media (min-width: 0px) and (max-width: 599px) {
  #forgot_password .blue-forms {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  #forgot_password .blue-forms {
    width: 80%;
  }
}
