$primary-color: #137ad4;
$secondary-color: #5E382B;
$white-color: #fafafa;
$smartphone: "(min-width: 0px) and (max-width: 599px)";
//$smartphone: "(min-width: 0px) and (max-width: 467px)";
$tablet: "(min-width: 600px) and (max-width: 900px)";

main {
    background-image: url("../images/background.jpeg");
    background-size: cover;
	background-position: center;
	background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    h2 {
        margin-top: 0px;
        padding-top: 20px;
    }
}
#forgot_password {
	.form-cover {
        background: rgba(107, 101, 101, 0.3);
        width: 61%;
        margin: auto;
    }
    padding-top: 30px;
    .blue-forms {
        width: 50%;
        margin: auto;
        .field {
            .control-form {
                font-size: 1em;
            }
            .control-form, button {
                width: 100%;
            }
            a {
                margin-right: 0px;
            }
        }
    }
}
@media #{$smartphone} {
    #forgot_password {
        .blue-forms {
            width: 100%;
        }
    }
}
@media #{$tablet} {
    #forgot_password {
        .blue-forms {
            width: 80%;
        }
    }
}
